<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548701644720-e3pcebm1idh8124l4o155uefhjfivhhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548701644720-e3pcebm1idh8124l4o155uefhjfivhhs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>548701644720-annmdg4p27pqn2535m7eh46tsdge5vnt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCFstwMYQiUXNEdFkiqkah5yLyjHPiL0M</string>
	<key>GCM_SENDER_ID</key>
	<string>548701644720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatMessangerApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>raufastore-5e03e</string>
	<key>STORAGE_BUCKET</key>
	<string>raufastore-5e03e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548701644720:ios:b196bb17183eeeb6c6d875</string>
</dict>
</plist>